<?xml version="1.0"?>
<config>
	<global>
		<page>
			<layouts>
				<home>
					<label>Home</label>
					<template>page/home.phtml</template>
				</home>
			</layouts>
			<layouts>
				<findus>
					<label>Findus</label>
					<template>page/findus.phtml</template>
				</findus>
			</layouts>
			<layouts>
				<contact>
					<label>Contact</label>
					<template>page/contact.phtml</template>
				</contact>
			</layouts>
			<layouts>
				<bicicletas>
					<label>Bicicletas</label>
					<template>page/bicicletas.phtml</template>
				</bicicletas>
			</layouts>
			<layouts>
				<bolsos>
					<label>bolsos</label>
					<template>page/bolsos.phtml</template>
				</bolsos>
			</layouts>
			<layouts>
				<candados>
					<label>candados</label>
					<template>page/candados.phtml</template>
				</candados>
			</layouts>
			<layouts>
				<cart>
					<label>Cart</label>
					<template>page/cart.phtml</template>
				</cart>
			</layouts>
				<layouts>
				<error>
					<label>Error</label>
					<template>page/error.phtml</template>
				</error>
			</layouts>
			<layouts>
				<equipaje>
					<label>equipaje</label>
					<template>page/equipaje.phtml</template>
				</equipaje>
			</layouts>
				<layouts>
				<terms>
					<label>Terms</label>
					<template>page/terms.phtml</template>
				</terms>
			</layouts>
				<layouts>
				<infladores>
					<label>infladores</label>
					<template>page/infladores.phtml</template>
				</infladores>
			</layouts>
			<layouts>
				<luces>
					<label>luces</label>
					<template>page/luces.phtml</template>
				</luces>
			</layouts>
			<layouts>
				<otros>
					<label>otros</label>
					<template>page/otros.phtml</template>
				</otros>
			</layouts>
		
			<layouts>
				<cascos>
					<label>cascos</label>
					<template>page/cascos.phtml</template>
				</cascos>
			</layouts>
			<layouts>
				<brompton>
					<label>Brompton</label>
					<template>page/bikes/brompton.phtml</template>
				</brompton>
			</layouts>
		        <layouts>
				<custom>
					<label>Custom</label>
					<template>page/custom.phtml</template>
				</custom>
			</layouts>
			    <layouts>
				<productos>
					<label>Productos</label>
					<template>page/productos.phtml</template>
				</productos>
			</layouts>
					<layouts>
				<bolsos>
					<label>Bolsos</label>
					<template>page/bolsos.phtml</template>
				</bolsos>
			</layouts>
			<layouts>
				<racks>
					<label>Racks</label>
					<template>page/racks.phtml</template>
				</racks>
			</layouts>
			<layouts>
				<ninos>
					<label>Ninos</label>
					<template>page/ninos.phtml</template>
				</ninos>
			</layouts>
			<layouts>
				<componentes>
					<label>componentes</label>
					<template>page/componentes.phtml</template>
				</componentes>
			</layouts>
			<layouts>
				<pagos>
					<label>pagos</label>
					<template>page/pagos.phtml</template>
				</pagos>
			</layouts>
			<layouts>
				<faq>
					<label>faq</label>
					<template>page/faq.phtml</template>
				</faq>
			</layouts>
			<layouts>
				<plegableslanding>
					<label>plegableslanding</label>
					<template>page/plegableslanding.phtml</template>
				</plegableslanding>
			</layouts>


		</page>
	</global>
</config>