<?xml version="1.0"?>
<config>
    <modules>
        <HK_Productdetails>
            <version>0.1.0</version>
        </HK_Productdetails>
    </modules>
    <frontend>
        <routers>
            <productdetails>
                <use>standard</use>
                <args>
                    <module>HK_Productdetails</module>
                    <frontName>productdetails</frontName>
                </args>
            </productdetails>
        </routers>
        <layout>
            <updates>
                <productdetails>
                    <file>productdetails.xml</file>
                </productdetails>
            </updates>
        </layout>
    </frontend>
</config>